<mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Bem-vindo à Biblioteca Virtual</mat-card-title>
      <mat-card-subtitle>Aprenda e explore com livros incríveis</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://img.freepik.com/vetores-gratis/biblioteca-moderna-com-ilustracao-de-estante_1262-16576.jpg" alt="Ilustração de livros" class="home-image">
      <p>Esta é uma biblioteca virtual que permite pesquisar, visualizar e emprestar livros de diferentes categorias e autores. Você pode encontrar livros de ficção, não-ficção, romance, suspense, fantasia e muito mais.</p>
      <p>Para começar, clique no botão abaixo e navegue pela nossa coleção de livros. Você pode filtrar os livros por título, autor, gênero ou popularidade. Você também pode ver os detalhes de cada livro, como sinopse, avaliação e disponibilidade.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/book">Ver lista de livros</button>
    </mat-card-actions>
  </mat-card>
  